@page
@model IndexModel
@{
    ViewBag.Title = "Introduction Page";
}

<div class="text-center">
    <h3 class="display-4">Kirtan Patel</h3>

    @section SectionName {
        <p>This is a paragraph of text to display on the Intro page.</p>
    }
   
</div>


